---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: prometheus-operator
  namespace: monitoring
spec:
  releaseName: prometheus-operator
  chart:
    repository: https://kubernetes-charts.storage.googleapis.com/
    name: prometheus-operator
    version: 9.3.2
  values:
    grafana:
      enabled: true
      defaultDashboardsEnabled: true
      grafana.ini:
        users:
          viewers_can_edit: false
        auth:
          disable_login_form: true
          disable_signout_menu: true
        auth.anonymous:
          enabled: true
          org_role: Viewer
      ingress:
        enabled: true
        hosts: ["grafana.hacksm.net"]
        annotations:
          ingress.pomerium.io/allowed_users: '["matt@matt-white.co.uk"]'
          forecastle.stakater.com/expose: "true"
          forecastle.stakater.com/appName: Grafana
          forecastle.stakater.com/icon: https://raw.githubusercontent.com/stakater/ForecastleIcons/master/grafana.png
    nodeExporter:
      serviceMonitor:
        relabelings:
          - sourceLabels: [__meta_kubernetes_pod_node_name]
            targetLabel: instance
